<script >
       
        var usuario = localStorage.getItem("usuario");
        
        if(usuario==null || usuario==undefined){
             console.log(usuario);
              window.location="/admin"
             //window.location="/user/login"
        }
</script>


<!DOCTYPE html>


<div class="row">
<h1> DATABASE: TABLA CREDENCIALES </h1>
</div>

<div class="row">
<a href="/admin/credenciales/new" type="button" class="btn btn-default btn-warning" >Nuevo</a>
<a href="/admin/vertablas" type="button" class="btn btn-default btn-warning" >Menú</a>


</div>
<div class="row pt-md-5"></div>
<table>
<tr>
  <h3><td>Id</td></h3>
  <td>User</td>
  <td>Password</td>
  <td>Rol</td>
  <td>Usuarios</td>

  <td> </td>
  <td></td>

</tr>

{{#each objCredenciales}}
<tr>


  <div class="row">
<div class="col-4 col-sm-1">
<td><h1>{{id}}</h1></td>
<td><h5>{{user}} </h5></td>
<td><h5>{{password}}</h5></td>
<td><h5>{{rol}}</h5></td>
<td><h5>{{user}}</h5></td>

</td>

 </div>
 <td><div class="col-4 col-sm-1"><a type="button" class="btn btn-default btn-danger" href='/admin/credenciales/{{id}}/edit'>editar</a></div></td>
    <div class="col-4 col-sm-1">
      <form action='/admin/credenciales/{{id}}?_method=DELETE' method='post'>
    <td>    <button type="submit" class="btn btn-default btn-danger">borrar</button></td>
      </form>
    </div>

  </div>
  </tr>
{{/each}}
</table>
