<h2>Credencial creada -  <a href="/escoger">Ir al juego</a></h2>

<label for="">Id</label>
<h1>{{credencial.id}}</h1>
<label for="">User</label>
<h1>{{credencial.user}}</h1>
<label for="">Password</label>
<h1>{{credencial.password}}</h1>
<label for="">Rol</label>
<h1>{{credencial.rol}}</h1>


<a href="/admin/credenciales/{{credencial.id}}/edit" type="button" class="btn btn-default btn-warning" >
Editar Credencial
</a>
<a href="/admin/credenciales" type="button" class="btn btn-default btn-warning" >
  Ver Credenciales
</a>
<a href ="/admin/vertablas"><button type="submit" class="btn btn-default success" >Menú</button></a>
