<h2>Single user page -  <a href="/usuario">Usuarios</a></h2>

{{usuario.id}}, {{usuario.foto}}, {{usuario.genero}}, {{usuario.nombre}}, {{usuario.puntaje}}

<a href="/usuario/{{usuario.id}}/edit" type="button" class="btn btn-default btn-warning" >
  edit user
</a>